<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITM</title>
    <link rel="icon" href="{% static 'assets/img/itms.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

<div class="header">
    <button class="menu-toggle-btn" id="menuToggle">☰</button>

    <div class="right-section">
        <div class="icon-btn" id="lang-btn">Languages
            <div class="dropdown-menu" id="lang-dropdown">
                <a href="{% url 'lan_switch' 'ru' %}"><img src="{% static 'assets/img/ru.jpg' %}" width="24" height="16"> RU</a>
                <a href="{% url 'lan_switch' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a>
                <a href="{% url 'lan_switch' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a>
            </div>
        </div>
        <a href="" class="icon-btn">Card</a>
        <a href="" class="icon-btn">Account</a>
    </div>
</div>

<div class="menu-panel" id="menuPanel">
    <a href="{% url 'index' %}" class="logo-link">
        <img src="{% static 'assets/img/itms.ico' %}" alt="ITM" class="logo-img">
        <span class="logo-text">ITM SERVER</span>
    </a>
    <a href="{% url 'index' %}" class="menu-item"><i class="fa-solid fa-sign-in-alt"></i> Вход в кабинет</a>
    <a href="{% url 'domain' %}" class="menu-item"><i class="fa-solid fa-globe"></i> Заказать домен</a>
    <a href="{% url 'host' %}" class="menu-item"><i class="fa-solid fa-server"></i> Заказать хостинг</a>
    <a href="{% url 'sertificat' %}" class="menu-item"><i class="fa-solid fa-lock"></i> Заказать SSL</a>
    <a href="{% url 'application' %}" class="menu-item"><i class="fa-solid fa-file-alt"></i> Написать заявление</a>
</div>

<div class="overlay" id="overlay"></div>

<div class="login-modal">
    <div class="login-methods">
        <div class="method">
            <img src="{% static 'assets/img/itms.ico' %}" alt="Email">
            <span>E-mail</span>
        </div>
    </div>

    <form class="login-form">
        <input type="email" placeholder="Emailingizni kiriting">
        <input type="password" placeholder="Parolingizni yozing">

        <div class="remember-forgot">
            <label>
                <input type="checkbox"> Запомнить меня
            </label>
            <a href="/forgot-password">Забыли пароль?</a>
        </div>

        <button type="submit" class="login-btn">Вход</button>
        <button type="button" class="login-btn oneid-btn">One id</button>
    </form>
</div>

<script src="{% static 'assets/js/scripts.js' %}"></script> 
</body>
</html>